/* @override http://localhost:7337/css/master.css */

@import url(reset.css);

/* @group Fonts */
@font-face {
	font-family: IstokWeb;
	src: local('IstokWeb'),
		url(../fonts/IstokWeb-Regular.ttf) format("truetype");
}
@font-face {
	font-family: IstokWeb;
	font-weight: bold;
	src: local('IstokWeb Bold'),
		url(../fonts/IstokWeb-Bold.ttf) format("truetype");
}
@font-face {
	font-family: IstokWeb;
	font-style: italic;
	src: local('IstokWeb Italic'),
		url(../fonts/IstokWeb-Italic.ttf) format("truetype");
}
@font-face {
	font-family: IstokWeb;
	font-style: italic;
	font-weight: bold;
	src: local('IstokWeb Bold Italic'),
		url(../fonts/IstokWeb-BoldItalic.ttf) format("truetype");
}


@font-face {
	font-family: Inconsolata;
	src: local('Inconsolata'),
		url(../fonts/Inconsolata.otf) format("opentype");
}
/* @end */


/* @group Generic Element Styles */
html {
	margin: 0;
	font: 14px/18px IstokWeb;
	background-color: #999;
	color: #333;
}

body {
	margin: 0;
	padding: 0;
	min-width: 800px;
}


h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: black;
}

a {
	color: #911;
	text-decoration: none;
	background: rgba( 255,255,255, 0.15 );
}
/* @end */


/* @group Top-level Sections and Headers */
body > header,
body > section {
    background: #cbcfd5 url(../images/noise.png) repeat;
}
body > header {
	padding: 40px 40px 20px;
	font-weight: bold;
	font-size: 60px;
	text-shadow: 0 0 8px rgba( 25,25,25, 0.2 );
}
body > header h1 {
	margin: 0;
	color: white;
}
body > section {
	padding: 0 40px 1em;
}

/* @end */

/* @group Top-level Nav */
body > nav {
	margin-top: -0.5em;
    background: #b5b9be;
    padding: 0.5em 50px;
}
body > nav ol li {
	display: inline;
}
body > nav ol li + li:before {
	content: "> ";
	color: whitesmoke;
}
/* @end */



/* @group Footers */
body > footer {
	color: #777;
	font-size: 0.9em;
	padding: 1em;
	background: -moz-linear-gradient(top, 
		rgba(0,0,0,0.85) 0%, 
		rgba(0,0,0,0.4) 7%, 
		rgba(0,0,0,0) 39%, 
		rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,rgba(0,0,0,0.85)), 
		color-stop(7%,rgba(0,0,0,0.4)), 
		color-stop(39%,rgba(0,0,0,0)), 
		color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, 
		rgba(0,0,0,0.85) 0%,
		rgba(0,0,0,0.4) 7%,
		rgba(0,0,0,0) 39%,
		rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, 
		rgba(0,0,0,0.85) 0%,
		rgba(0,0,0,0.4) 7%,
		rgba(0,0,0,0) 39%,
		rgba(0,0,0,0) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, 
		rgba(0,0,0,0.85) 0%,
		rgba(0,0,0,0.4) 7%,
		rgba(0,0,0,0) 39%,
		rgba(0,0,0,0) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', 
		endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, 
		rgba(0,0,0,0.85) 0%,
		rgba(0,0,0,0.4) 7%,
		rgba(0,0,0,0) 39%,
		rgba(0,0,0,0) 100%); /* W3C */
}
footer span.copyright {
	float: right;
}
/* @end */


/* @group Second-Level sections and headers */
body > section > section {
	padding: 2em 0;
}
section > header {
	padding: 0.5em 0;
	font-size: 1.2em;
}
/* Add space between sibing sections and tables */
section + section,
table + section,
section + table {
	margin-top: 2em;
}
/* @end */


/* @group Tables */
table {}
table caption {
	caption-side: bottom;
	padding: 1em;
	font-size: 0.9em;
	color: #777;
}
table caption p {
	text-align: center;
}
td, th {
	padding: 2px 1em;
}
td {
	border-bottom: 1px dotted #999;
}
th {
	font-weight: bold;
	border-bottom: 2px solid;
}
table.horizontal th {
	border-bottom: 1px dotted #999;
	text-align: right;
}
td.icon {
	text-align: center;
	line-height: 8px;
	vertical-align: bottom;
}

tbody.actions td {
	border: none;
	padding: 0;
	margin: 0;
}
tbody.actions nav {
	text-align: right;
}
tbody.actions nav button {
	font-size: 1.1em;
	padding: 0.5em 1em;
	margin: 1em 0;
	border: 1px;
	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
	background: linear-gradient(top, #45484d 0%,#000000 100%);
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}


/* @group Editable row affordance */
tr.unsaved {}
tr.unsaved td {}

tr.unsaved td.editable,
tr.unsaved td.toggle {
	font-style: italic;
	background: white;
	cursor: pointer;
}
tr.unsaved td.controls {
	visibility: visible;
}

.editable form {
	margin: 0;
	padding: 0;
	display: inline-block;
}
.editable form input {
	margin: 0;
	padding: 0 4px;
	border: 1px solid #efefef;
	background: #efefef;
	border-radius: 0.5em;
	outline: none;
	max-height: 1em;
}
.editable form input:focus {
	outline: none;
}

td.toggle img {
	visibility: hidden;
}
td.toggle.enabled img {
	visibility: visible;
}

tr.server.unsaved span.target {
	cursor: pointer;
}

td.toggle span.target {
	border: 1px dashed rgba( 0,0,0, 0.20 );
	border-radius: 4px;
	display: inline-block;
}
/* @end */

/* @group Controls Column */
th.controls,
td.controls {
	border: none;
}
td.controls {
	visibility: hidden;
}
td.controls button {
	padding: 0;
	margin: 0;
	border: none;
	background: clear;
	cursor: pointer;
}
/* @end */
/* @end */


/* @group Specific Application Section Styles */
section#body {
	min-height: 600px;
}
section#versions ul {
	font-family: Inconsolata, fixed;
}
section#tasklist tr.system-task {
	font-style: italic;
}

section#servers table {
	width: 90%;
}

section#routes td.target {
	background: rgba( 255,255,255, 0.15 );
}
section#routes span.send-ident {
	font-weight: bold;
}
section#routes span.send-spec,
section#routes span.recv-spec {
	background-color: rgba( 255,255,255, 0.5 );
	padding: 0 4px;
	border-radius: 0.25em;
}
section#routes span.index-file {
	color: #999;
}
section#routes span.default-ctype {
	font-family: Inconsolata, monospace;
	font-size: 0.8em;
}
/* @end */

