<?publish title ?>Admin Console<?end publish ?>

<p>The admin console. Is you is, or is you isn't?</p>

<ul>
	<li>Strelka: <?attr strelka_version ?></li>
	<li>Mongrel2: <?attr mongrel2_version ?></li>
	<li>Inversion: <?attr inversion_version ?></li>
</ul>


<section id="mongrel2-status">
	<header>
		<h1>Mongrel Status</h1>
	</header>

	<table>
		
	</table>
</section>

