<!-- $Id$ -->
<?publish title ?>Admin Console<?end publish ?>
<?publish breadcrumbs ?>
	<ol>
		<li><a href="[?call request.pattern ?]">Console</a></li>
		<li><a href="[?call request.pattern ?]server/[?call host.server.uuid 
			?]"><?escape host.server.uuid ?></a></li>
		<li><?escape host.name ?></li>
	</ol>
<?end publish ?>

<section id="host">
	<header>
		<hgroup>
			<h1>Host: <?escape host.name ?> <?if host.name != matching ?>
				(<?escape host.matching ?>)<?end if ?></h1>
		</hgroup>
	</header>

	<section id="routes">

		<header>
			<h1>Routes</h1>
		</header>

		<?if host.routes.empty? ?>
		<p>No routes configured.</p>
		<?else?>
		<table>
			<thead>
				<tr>
					<th>Path</th>
					<th>Reversed?</th>
					<th>Target</th>
				</tr>
			</thead>
			<tbody>
			<?for route in host.routes.sort_by {|r| r.path.length } ?>
				<tr class="[?call route.target_type ?]">
					<td class="path"><?escape route.path ?></td>
					<td class="reversed"><?if route.reversed.nonzero? ?>•<?end if ?></td>
					<td class="target">

						<?if route.target_type == 'dir' ?>
							<span class="base"><?escape route.target.base ?></span><span 
								class="index-file"><?escape route.target.index_file ?></span>
							<span class="default-ctype">(<?escape route.target.default_ctype ?>)</span>
						<?elsif route.target_type == 'handler' ?>
							<span class="send-ident"><?escape route.target.send_ident ?></span>
							<span class="send-spec"><?escape route.target.send_spec ?></span>
							&#x21D4;
							<span class="recv-spec"><?escape route.target.recv_spec ?></span>
							<?unless route.target.recv_ident.empty? ?><span 
								class="recv-ident"><?escape route.target.recv_ident ?></span><?end unless ?>
						<?elsif route.target_type == 'proxy' ?>
							(proxy)
						<?else ?>
							(dunno)
						<?end if ?>

					</td>
				</tr>
			<?end for ?>
			</tbody>
		</table>
		<?end if ?>
	</section>

</section>

<!-- #<Mongrel2::Config::Route @values={:id=>1, :path=>"/", :reversed=>0, :host_id=>1, :target_id=>1, :target_type=>"handler"}>

#<Mongrel2::Config::Handler @values={:id=>2, :send_spec=>"tcp://127.0.0.1:19995", :send_ident=>"hello-world", :recv_spec=>"tcp://127.0.0.1:19994", :recv_ident=>"", :raw_payload=>0, :protocol=>"json"}>
#<Mongrel2::Config::Directory @values={:id=>1, :base=>"static/css/", :index_file=>"base.css", :default_ctype=>"text/css", :cache_ttl=>0}>
 -->
