<section>
	<?if heading ?>
	<?publish title ?><?attr heading ?><?end publish ?>
	<header>
		<h1><?attr heading ?></h1>
	</header>
	<?else?>
	<?publish title ?>Message<?end publish ?>
	<?end if ?>

	<p><?attr message ?></p>
	
</section>

