<!-- $Id$ -->
<?publish title ?>Admin Console<?end publish ?>
<?publish breadcrumbs ?>
	<ol>
		<li><a href="[?call request.pattern ?]">Console</a></li>
		<li><?escape server.uuid ?></li>
	</ol>
<?end publish ?>

<section id="server">
	<header>
		<hgroup>
			<h1><?escape server.name ?></h1>
		</hgroup>
	</header>

	<table class="horizontal">
		<tbody>
			<tr class="uuid"><th>UUID</th><td><?escape server.uuid ?></td></tr>
			<tr class="default-host"><th>Default Host</th><td><?escape server.default_host ?></td></tr>
			<tr class="bind-address"><th>Bind Address</th><td><?escape server.bind_addr ?></td></tr>
			<tr class="port"><th>Port</th><td><?escape server.port ?></td></tr>
			<tr class="chroot"><th>Chroot</th><td><?escape server.chroot ?></td></tr>
			<tr class="pid-file"><th>PID File</th><td><?escape server.pid_file ?></td></tr>
			<tr class="use-ssl"><th>SSL?</th><td><?if server.use_ssl.nonzero? ?>•<?end if ?></td></tr>
		</tbody>
	</table>

	<section class="log-viewer">
		<header>
			<h2>Logs</h2>
		</header>

		<div id="access-log">Will read: <?escape server.access_log ?></div>
		<div id="error-log">Will read: <?escape server.error_log ?></div>
	</section>

	<section id="hosts">
		<header>
			<h1>Hosts</h1>
		</header>

		<nav class="actions">
			<button>Add a Host</button>
		</nav>

	<?if server.hosts.empty? ?>
		<p>No hosts configured.</p>
	<?else?>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Matching</th>
					<th>Maintenance Mode?</th>
				</tr>
			</thead>
			<tbody>
			<?for host in server.hosts ?>
				<tr class="host">
					<td class="name"><a href="[?call request.route
						 	?]/host/[?uriencode host.id ?]"><?call host.name ?></a></td>
					<td class="matching"><?call host.matching ?></td>
					<td class="maintenance-mode"><?if 
						server.maintenance.nonzero? ?>•<?end if ?></td>
				</tr>
			<?end for ?>
			</tbody>
		</table>
	<?end if ?>
	</section>

</section>


