<form action="[?call request.uri ?]" method="post" accept-charset="utf-8">
	<label for="username">Username</label>
	<input type="text" name="username" value="" id="username-input" />

	<label for="password">Password</label>
	<input type="password" name="password" value="" id="password-input" />

	<p><input type="submit" value="Login &rarr;"></p>
</form>

