<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><?subscribe title || Demo ?></title>

	<style type="text/css" media="screen">
		html {
			background: #eee;
			color: #333;
			margin: 0;
			padding: 4em 2em;
			font-family: sans-serif;
		}
	</style>
</head>
<body>

	<header>
		<h1><?subscribe title || Demo ?></h1>
	</header>

	<section id="body"><?attr body ?></section>

	<footer>
		<p>Copyright &copy; 2012, Michael Granger</p>
	</footer>

</body>
</html>

